.search-bar {
    display: flex;
    align-items: center;
    margin: 20px;
    cursor: pointer; /* Change cursor to pointer */
}

.search-input,
.name-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex-grow: 1;
}

.search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Sliding div styles */
.slide-down {
    max-height: 0; /* Collapsed state */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease-out; /* Transition effect */
}

.slide-down.open {
    max-height: 100px; /* Expanded state */
    transition: max-height 0.5s ease-in; /* Transition effect */
}

/* Add additional styles as needed */
