/* Close button (red cross at top right) */
.close-button {
  position: absolute;
  top: -5px;
  right: 1px;
  background: #ff0000;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  width: 26px;
  height: 30px;
}


.advanceSearch {
  width: 165px;
  position: relative;
  left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* bottom: -29px; */
  top: -19px;
}


.advanceSearch:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

